<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome home good hunter</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src= {% static "js/bootstrap.min.js" %}></script>
</head>
<body>

<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-1"><a href="{% url 'main:home' %}"><img src="{% static 'img/new_logo.png' %}" alt="icon" class="logo"></a></div>
        </div>
    </div>
</header>

<div class="container">
     <div class="row">
            <div class="col-lg-9 col-md-6">
                <div class="mainContentWelcomePage"><img src="{% static 'img/welcome-page.png' %}" alt="welcomePage" class="" width="800" height="785"></div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="boxOne">
                            <div class="row">
                            <img src="{% static 'img/logo100x100hunter.png' %}" alt="hunterLogo" class="col-lg-5 va" style="padding-left: 15px; padding-right: 0px">
                            <div class="boxOneButtons col-lg-7" style="padding-left: 0px; padding-right: 0px">
{#                                <a href="{% url 'main:character' name='BM' %}" style="margin-right: 8rem;">Beast Mastery</a>#}
{#                                <a href="{% url 'main:character' name='MM' %}" style="margin-right: 8rem;">Marksmanship</a>#}
{#                                <a href="{% url 'main:character' name='SV' %}" style="margin-right: 8rem;">Survival</a>#}
                            <ul>
                                <li> <button class="myCustom"><a href="{% url 'main:character' name='BM' %}">Beast Mastery</a></button></li>
                                <li> <button class="myCustom"><a href="{% url 'main:character' name='MM' %}">Marksmanship</a></button></li>
                                <li> <button class="myCustom"><a href="{% url 'main:character' name='SV' %}">Survival</a></button></li>
                            </ul>
                            </div>
                    </div>
                        </div>
                        <div class="row">
                    <div class="col-lg-12">
                        <div class="boxTwo"></div>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
</html>